<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="CalisthenicsShopConnection"
            connectionString="Data Source=.;Initial Catalog=CalisthenicsShop;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
		<add key="ParentTable" value="Customer" />
		<add key="ChildTable" value="Review" />
		<add key="ParentTablePK" value="Email" />
		<add key="ChildTableFK" value="Uid" />
	</appSettings>
</configuration>